<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<!-- <script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
<link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link> -->

<h1> Articles </h1>

<%= markdown(@article.title) %>


<%= markdown(@article.content) %>

<%= markdown(@article.created_at.to_s) %>

