// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h3 {
  font-family: "Roboto Slab";
  font-weight: 400;
}

p {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 120%;
}
